// about us page styling starts here 
.courses-nav a {
  padding: 20px 10px;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  color:black;
}
// about us page styling ends here 

// history page styling starts here 
.history{
  text-align: justify;
  margin: 15px 30px 30px 30px;
}
// history page styling ends here

// about us styling starts here 
.aboutUs-img{
  margin-left: -30px;
  height: 420px;
}

.aboutUs{
  text-align: justify;
}
// about us styling ends here 

