// header logo styling starts here //
.navbar-brand {
  margin-top: -6px;
  margin-left: 20px;
  font-weight: bold;
}

.nav-header {
  margin-left: 187px;
}

.navbar-img {
  background-color: white;
  padding: 3px;
  height: 40px;
  border-radius: 19px;
}
// header logo styling ends here //

// header menulist styling starts here //
.menu-list {
  margin-left: 80px;
}

// header menulist styling ends here //