// .carousel styling starts here 
.carousel-img img {
  padding-top: 28px;
  width: 400px;
  height: 250px;
  padding-right: 20px;
}

.carousel-text {
  color: white;
  padding-top: 55px;
  padding-left: 70px;
}
// .carousel styling ends here 

.next-icon{
  accent-color: white;
}