.policy-card {
  width: 411px;
  margin-left: -12px;
  align-items: center;
}

.policy-text{
  padding-left: 10px;
}
.policy-text p {
  margin-top: -10px;
}

.policy-icon {
  padding-right: 10px;
  font-size: 27px;
}
